# Programming for Biologists
## Chapter 4 In-chapter Examples
## Lists and Loops

### Creating lists and retrieving elements

In [4]:
# Make a list 
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"];
conserved_sites = [24,56,132];

# Access a certain element within each list
print(apes[0]);
first_site = conserved_sites[2];

# Find the index of a certain entry
chimp_index = apes.index("Pan troglodytes");

# Access the last element by using a negative number
last_ape = apes[-1];

# Create a new list
ranks = ["kingdom","phylum","class","order","family"];
lower_ranks = ranks[2:5];

Homo sapiens

### Working with list elements

In [7]:
# Create a list, and append a value
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"];
print("There are " + str(len(apes)) + " apes");
apes.append("Pan paniscus");
print("Now there are " + str(len(apes)) + " apes");

# Concatenate lists
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"];
monkeys = ["Papio ursinus", "Macaca mulatta"];
primates = apes + monkeys;

print(str(len(apes)) + " apes");
print(str(len(monkeys)) + " monkeys");
print(str(len(primates)) + " primates");

# Sort and reverse a list
ranks = ["kingdom","phylum","class","order","family"];
print("At the start : " + str(ranks));
ranks.reverse();
print("After reversing : " + str(ranks));
ranks.sort();
print("After sorting : " + str(ranks));

There are 3 apes
Now there are 4 apes
3 apes
2 monkeys
5 primates
At the start : ['kingdom', 'phylum', 'class', 'order', 'family']
After reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
After sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

### Writing a loop

In [9]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"];

# Print out each ape using a loop
for ape in apes:
    name_length = len(ape);
    first_letter = ape[0];
    print(ape + " is an ape. Its name starts with " + first_letter);
    print("Its name has " + str(name_length) + " letters");

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

### Using a string as a list

In [10]:
# Create a string
name = "martin";

# Loop through each entry of the string
for character in name:
    print("One character is " + character);

One character is m
One character is a
One character is r
One character is t
One character is i
One character is n

### Splitting a string to make a list

In [11]:
# Create a string of entries
names = "melanogaster,simulans,yakuba,ananassae";

# Parse the string into a list using the split method
species = names.split(",");
print(str(species));

['melanogaster', 'simulans', 'yakuba', 'ananassae']

### Looping with ranges

In [12]:
# Imagine we have a protein secquence
protein = "vlspadktnv";

for number in range(3,10):
    print(protein[0:number]);

vls
vlsp
vlspa
vlspad
vlspadk
vlspadkt
vlspadktn